<template>
    <div>
        <img src="~/assets/img/avatar.gif" alt="">
    </div>
</template>
<script>
export default {};
</script>
<style lang="scss" scoped>
div {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
</style>
