<template>
  <div class="container">
    <img src="~assets/img/logo2.png" alt="">
    <p>Du lịch là thứ duy nhất bạn mua mà khiến bạn giàu thêm. </p>
    <b-row style="display: flex; align-items: center">
      <b-col cols="10">
        <b-form-input size="lg" v-model="searchText" type="text" placeholder="Nhập vào tên địa điểm hoặc tên thành viên đăng bài"></b-form-input>
      </b-col>
      <b-col cols="2">
        <b-button href="/them" size="lg" variant="primary">Thêm địa điểm mới</b-button>
      </b-col>
    </b-row>
    <div class="headerText">
      Địa hình
    </div>
    <div class="dia_hinh">
      <div @click="filter('nui')" class="topo">
        <img style="width: 100px; height: 73px" src="~assets/img/mountain.jpg" alt="">
        <div class="text">Núi rừng</div>
      </div>
      <div @click="filter('bien')" class="topo">
        <img style="width: 100px; height: 73px" src="~assets/img/sea.jpg" alt="">
        <div class="text">Biển đảo</div>
      </div>
    </div>
    <div class="headerText">
      Địa điểm mới được thêm
    </div>
    <div class="container2">
      <div class="box" :key="key" v-for="(item,key) in newPosts">
        <a :href="String(`/place?id=${item['_id']}`)">
          <img :src="`/static/${item['post']['photos'][0]}`" alt="">
        </a>
        <div>
          <b>{{item['post']['name']}}</b>
        </div>
        <div class="rating">
          <star-rating text-class="rating-text" :star-size="14" v-model="newRating[item['_id']]" :rating="3" :read-only="true" :increment="0.1"></star-rating>
        </div>
        <div>{{item['post']['reviews']}} đánh giá</div>
      </div>
    </div>
    <div style="margin: 5px auto; text-align: center">
      <b-button href="/list?filter=time" variant="primary">Xem thêm</b-button>
    </div>
    <div class="headerText">
      Địa điểm được rating cao
    </div>
    <div class="container2">
      <div class="box" :key="key" v-for="(item,key) in ratingPosts">
        <a :href="String(`/place?id=${item['_id']}`)">
          <img :src="`/static/${item['post']['photos'][0]}`" alt="">
        </a>
        <div>
          <b>{{item['post']['name']}}</b>
        </div>
        <div class="rating">
          <star-rating text-class="rating-text" :star-size="14" v-model="ratingRating[item['_id']]" :rating="3" :read-only="true" :increment="0.1"></star-rating>
        </div>
        <div>{{item['post']['reviews']}} đánh giá</div>
      </div>
    </div>
    <div style="margin: 5px auto; text-align: center">
      <b-button href="/list?filter=score" variant="primary">Xem thêm</b-button>
    </div>
  </div>
</template>
<script>
import axios from "~/plugins/axios";
import StarRating from "vue-star-rating";
import Vue from "vue";

export default {
  components: {
    StarRating
  },
  async mounted() {
    // new
    let { data } = await axios.get("/api/post/showAllByNewest");
    this.newPosts = [];
    this.newPosts = data.slice();
    this.newPosts.splice(4);
    let ratingAr = data.map(e => {
      return {
        [e["_id"]]: e["post"]["rating"].toFixed(1)
      };
    });
    let rating = {};
    for (const r of ratingAr) {
      rating[Object.keys(r)] = parseFloat(r[Object.keys(r)]);
    }
    this.newRating = rating;

    //rating
    data.sort((a, b) => {
      return b["post"]["rating"] - a["post"]["rating"];
    });
    this.ratingPosts = [];
    this.ratingPosts = data.slice();
    this.ratingPosts.splice(4);

    let ratingAr2 = data.map(e => {
      return {
        [e["_id"]]: e["post"]["rating"].toFixed(1)
      };
    });

    let rating2 = {};
    for (const r of ratingAr2) {
      rating2[Object.keys(r)] = parseFloat(r[Object.keys(r)]);
    }
    this.ratingRating = rating2;
  },
  data() {
    return {
      searchText: "",
      newPosts: [],
      newRating: {},
      ratingPosts: [],
      ratingRating: {}
    };
  },
  methods: {
    filter(text) {
      window.location.href = "/list?filter=" + text;
    }
  }
};
</script>
<style lang="scss" scoped>
.headerText {
  margin: 60px 0 10px 0;
  font-size: 25px;
  font-weight: 600;
}
p {
  margin: 10px 0;
  font-size: 35px;
  margin-left: 12px;
  line-height: 30px;
  letter-spacing: -0.6px;
}
input {
  margin: 30px 0;
}
.dia_hinh {
  display: flex;
}
.topo {
  margin-right: 70px;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06) !important;
  border-radius: 3px;
  cursor: pointer;
  width: 250px;
  height: 75px;
  display: flex;
  .text {
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #484848;
  }
}

.container2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.box {
  margin-left: 40px;
  margin-bottom: 10px;
}
img {
  width: 200px;
  height: 200px;
}
.rating {
  span {
    margin-top: 0 !important;
  }
  font-size: 14px !important;
}
</style>
