<template>
  <div class="container">
    <b-row>
      <b-col cols="4">
        <b-form-select style="width: 800px;" v-model="selected" :options="options" class="mb-3">
        </b-form-select>
      </b-col>
      <b-col cols="8">
        <div class="container2">
          <div class="box" :key="key" v-for="(item,key) in posts">
            <a :href="String(`/place?id=${item['_id']}`)">
              <img :src="`/static/${item['post']['photos'][0]}`" alt="">
            </a>
            <div>
              <b>{{item['post']['name']}}</b>
            </div>
            <div class="rating">
              <star-rating text-class="rating-text" :star-size="14" v-model="rating[item['_id']]" :rating="3" @rating-selected="addReviews(item,key)" :increment="0.1"></star-rating>
            </div>
            <div>{{item['post']['reviews']}} đánh giá</div>
          </div>
        </div>
      </b-col>
    </b-row>
  </div>
</template>
<script>
import axios from "~/plugins/axios";
import StarRating from "vue-star-rating";
import Vue from "vue";

export default {
  components: {
    StarRating
  },
  mounted() {
    this.selected = this.$route.query["filter"];
  },
  watch: {
    async selected() {
      let { data } = await axios.get("/api/post/showAllByNewest");
      if (this.selected == "time") {
        this.posts = [];
        this.posts = data;
      }

      if (this.selected == "score") {
        data.sort((a, b) => {
          return b["post"]["rating"] - a["post"]["rating"];
        });
        this.posts = [];
        this.posts = data;
      }

      if (this.selected == "nui") {
        let filter = data.filter(x => {
          if (x["post"]["topography"] == "nui") {
            return x;
          }
        });
        this.posts = [];
        this.posts = filter;
      }

      if (this.selected == "bien") {
        let filter = data.filter(x => {
          if (x["post"]["topography"] == "bien") {
            return x;
          }
        });
        this.posts = [];
        this.posts = filter;
      }

      let ratingAr = data.map(e => {
        return {
          [e["_id"]]: e["post"]["rating"].toFixed(1)
        };
      });
      let rating = {};
      for (const r of ratingAr) {
        rating[Object.keys(r)] = parseFloat(r[Object.keys(r)]);
      }
      this.rating = rating;
    }
  },
  data() {
    return {
      posts: [],
      rating: {},
      selected: null,
      options: [
        { value: null, text: "Chọn bộ lọc" },
        { value: "time", text: "Lọc theo thời gian đăng (mới nhất)" },
        { value: "score", text: "Lọc theo điểm đánh giá (cao nhất)" },
        { value: "nui", text: "Lọc theo địa hình núi" },
        { value: "bien", text: "Lọc theo địa hình biển" }
      ]
    };
  },
  methods: {
    addReviews(item, key) {
      let id = item["_id"];
      let reviews = item["post"]["reviews"] + 1;
      let rating =
        (this.rating[id] + item["post"]["rating"] * item["post"]["reviews"]) /
        reviews;
      axios.post("/api/post/addReview", { id, rating, reviews }).then(res => {
        Vue.set(this.posts, key, res.data);
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.container2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.box {
  margin-left: 40px;
  margin-bottom: 10px;
}
img {
  width: 200px;
  height: 200px;
}
.rating {
  span {
    margin-top: 0 !important;
  }
  font-size: 14px !important;
}
</style>
