<template>
    <div v-if="post" class="container">
        <div style="width: 740px">
            <div class="name">
                {{post['name']}}
            </div>
            <div class="dash">

            </div>
            <div class="rating">
                <star-rating text-class="rating-text" :star-size="14" v-model="rating" :rating="3" @rating-selected="addReviews()" :increment="0.1"></star-rating>
            </div>
            <div> {{post['reviews']}} đánh giá</div>

            <img v-for="photo in post['photos']" :key="photo" v-img:gallery :src="String(`/static/${photo}`)">

            <div class="description">
                {{post['description']}}
            </div>
        </div>
        <div style="width: 400px; height: 500px" id="map3"></div>
    </div>
</template>
<script>
import axios from "~/plugins/axios";
import StarRating from "vue-star-rating";
export default {
  components: {
    StarRating
  },
  mounted() {
    this.initMap();
  },
  async asyncData({ query }) {
    try {
      let { data } = await axios.get("/api/post/" + query.id);
      console.log(data);
      return {
        id: data[0]["_id"],
        post: data[0]["post"],
        rating: data[0]["post"]["rating"]
      };
    } catch (error) {
      console.log(error);
    }
  },
  data() {
    return {
      id: "",
      post: false,
      rating: 0,
      myLocation: false
    };
  },
  methods: {
    initMap() {
      let directionsService = new google.maps.DirectionsService();
      let directionsDisplay = new google.maps.DirectionsRenderer();
      let map = new google.maps.Map(document.getElementById("map3"), {
        zoom: 7
      });
      directionsDisplay.setMap(map);
      this.locate(map);
      let loop = setInterval(() => {
        if (this.myLocation) {
          clearInterval(loop);
        }
        let start = new google.maps.LatLng(
          String(this.myLocation["lat"]),
          String(this.myLocation["lng"])
        );
        let end = new google.maps.LatLng(this.post["lat"], this.post["lng"]);
        directionsService.route(
          {
            origin: start,
            destination: end,
            travelMode: "DRIVING"
          },
          function(response, status) {
            if (status === "OK") {
              directionsDisplay.setDirections(response);
            } else {
              window.alert("Directions request failed due to " + status);
            }
          }
        );
      }, 1000);
    },
    locate(map) {
      if (navigator.geolocation) {
        let infoWindow = new google.maps.InfoWindow();
        navigator.geolocation.getCurrentPosition(
          position => {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            this.myLocation = pos;
            infoWindow.setPosition(pos);
            infoWindow.setContent("Your location");
            infoWindow.open(map);
            map.setCenter(pos);
          },
          function() {
            alert("Vui lòng cho phép xác định vị trí của bạn!!");
          }
        );
      } else {
        alert("Trình duyệt của bạn không hỗ trợ xác định vị trí");
      }
    },
    addReviews() {
      let reviews = this.post["reviews"] + 1;
      let rating =
        (this.rating + this.post["rating"] * this.post["reviews"]) / reviews;
      axios
        .post("/api/post/addReview", { id: this.id, rating, reviews })
        .then(res => {
          this.post = res.data[0]["post"];
        });
    }
  }
};
</script>
<style lang="scss" scoped>
.container {
  display: flex;
  flex-flow: row nowrap;
}
.name {
  font-size: 40px;
  font-weight: 600;
  color: #5b5b5b;
}
.dash {
  border: 1px solid #dbdbdb;
  width: 60%;
}
.description {
  margin-top: 20px;
  width: 90%;
  color: #484848;
  line-height: 1.6;
  font-size: 17px;
}

img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-top: 10px;
}
</style>
