<template>
  <div class="container">
    <b-container>
      <b-row>
        <b-col class="left-col">
          <div id="dropzoneBox" class="dropzone">
          </div>
          <b-form-input v-model="name" type="text" placeholder="Tên của bạn"></b-form-input>
          <b-form-input v-model="description" type="text" placeholder="Mô tả về địa điểm"></b-form-input>
          <b-form-select v-model="selected" :options="options" class="mb-3">
          </b-form-select>
          <vue-google-autocomplete ref="address" id="map" classname="form-control" placeholder="Nhập địa chỉ địa điểm" v-on:placechanged="getAddressData" country="vn">
          </vue-google-autocomplete>
          <b-button class="btn-send" @click="post" variant="primary">
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp; Đăng bài </b-button>
        </b-col>
        <b-col>
          <div style="width: 100%; height: 400px" id="map2"></div>
        </b-col>
      </b-row>
    </b-container>

  </div>
</template>

<script>
import axios from "~/plugins/axios";
import Vue from "vue";
import VueGoogleAutocomplete from "vue-google-autocomplete";

export default {
  mounted() {
    this.initMap(this.location);
    let vm = this;
    this.dropzone = new Dropzone("div#dropzoneBox", {
      method: "post",
      paramName: "photo",
      dictDefaultMessage:
        "Nhấp chuột hoặc kéo thả hình ảnh về địa điểm vào đây",
      url: "/api/photos/upload",
      maxFilesize: 5,
      thumbnailWidth: 100,
      maxFiles: 20,
      acceptedFiles: "image/jpeg,image/png,image/gif,image/jpg",
      thumbnailHeight: 100,
      parallelUploads: 1,
      resizeHeight: 1200,
      timeout: 1000 * 60 * 20,
      dictFileTooBig:
        "Ảnh quá lớn ({{filesize}}MiB). Kích thước ảnh tối đa: {{maxFilesize}}MiB.",
      dictMaxFilesExceeded: "Chỉ được tải lên tối đa {{maxFiles}} ảnh.",
      removedfile: function(file) {
        file.previewElement.remove();
      },
      queuecomplete: function() {
        vm.allUploaded();
      },
      success: function(file, response) {
        file.response = response;
      },
      removedfile: function(file) {
        file.previewElement.remove();
      }
    });
  },
  async asyncData() {
    let { data } = await axios.get("/api/users");
    return { users: data };
  },
  components: {
    VueGoogleAutocomplete
  },
  head() {
    return {
      title: "Users"
    };
  },
  data() {
    return {
      dropzone: false,
      finished: true,
      photos: [],
      name: "",
      description: "",
      location: { lat: 21.0245, lng: 105.84117 },
      selected: null,
      options: [
        { value: null, text: "Chọn loại địa hình" },
        { value: "nui", text: "Núi rừng" },
        { value: "bien", text: "Biển" }
      ]
    };
  },
  watch: {
    "dropzone.files": function() {
      this.allUploaded();
    }
  },
  methods: {
    initMap(location) {
      var map = new google.maps.Map(document.getElementById("map2"), {
        zoom: 12,
        center: location
      });
      var marker = new google.maps.Marker({
        position: location,
        map: map
      });
    },
    post() {
      if (this.photos.length == 0) {
        alert("Bạn phải thêm ít nhất 1 ảnh minh họa cho địa điểm");
        return;
      }
      if (this.name.trim().length == 0) {
        alert("Không được để trống tên");
        return;
      }
      if (this.description.trim().length == 0) {
        alert("Không được để trống mô tả");
        return;
      }
      if (this.selected == null) {
        alert("Vui lòng chọn loại địa hình");
        return;
      }
      axios
        .post("/api/post/add", {
          name: this.name,
          description: this.description,
          location: this.location,
          photos: this.photos,
          topography: this.selected
        })
        .then(res => {
          if (res.data) {
            alert("Đăng bài thành công");
            location.reload();
          }
        });
    },
    allUploaded() {
      this.dropzone.files.map(e => {
        if (e.status == "success") {
          this.photos.push(e.response.filename);
        }
      });
    },
    getAddressData(addressData) {
      this.location = {
        lat: addressData["latitude"],
        lng: addressData["longitude"]
      };
      this.initMap(this.location);
    }
  }
};
</script>

<style lang="scss" scoped>
.left-col {
  div,
  input {
    margin-bottom: 20px;
  }
  height: 600px;
}

.btn-send {
  margin: 10px auto;
  width: 120px;
  font-weight: 600;
}
#dropzoneBox {
  border: 2px dashed #0087f7;
  min-height: 100px;
  margin-bottom: 10px;
  .dz-preview {
    width: 100px;
    margin-left: 20px;
  }
  .dz-remove {
    margin-top: 10px;
    text-decoration: none;
    color: red;
    font-weight: 600;
    margin-left: 10px;
  }
  .dz-error-message {
    color: #fff;
    top: 50px;
  }
}
</style>
